.grid-provider {
    display: grid;   
    grid-template-columns: repeat(var(--columns, 5), 1fr);
    gap: 0px;
    padding: 16px;
    align-items: stretch;   
}

.grid-item-provider {
    height: 100%;
    border: 1px solid var(--border);
    border-radius: 2px;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.grid-item-provider:hover {
    box-shadow: 0 8px 24px var(--shadow-border-card); 
    transform: translateY(-4px);                  
}
.grid-img-provider {
    width: 100%;
}
.grid-provider img {
    transition: transform 0.3s ease;
}

.grid-item-provider:hover img {
    transform: scale(1.05);
}

@media (max-width: 540px) {
    .grid-provider {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media (max-width: 640px) {
    .grid-provider {
        grid-template-columns: repeat(2, 1fr) !important;
    } 
}
@media (max-width: 940px) {
    .grid-provider {
        grid-template-columns: repeat(3, 1fr);
    } 
}