/* ===== NAVBAR PRINCIPAL ===== */
.position-nav-bar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 60px;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  background-color: var(--bg-nav);
  gap: 16px;
}


/* ===== LOGO ===== */
.nav-logo {
  font-size: 35px;
  font-weight: 600;
  color: var(--bg-main);
  text-decoration: none;
}

/* ===== LINKS ===== */
.nav-links {
  display: flex;
  gap: 4px;
}

.nav-links a {
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 14px;
  color: var(--text-muted);
  text-decoration: none;
  transition: background 0.15s, color 0.15s;
}

.nav-links a:hover {
  background-color: var(--bg-hover);
  color: var(--text-primary);
}

.nav-links a.active {
  background-color: var(--bg-hover);
  color: var(--text-primary);
  font-weight: 500;
}

/* ===== BOTÓN ===== */
.nav-btn {
  padding: 7px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--btn-bg);
  color: var(--text-primary);
  border: none;
  cursor: pointer;
  transition: background 0.15s;
  text-decoration: none;
}

.nav-btn:hover {
  background-color:  var(--bg-hover);
}

/* ===== SEARCH BAR ===== */
.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--bg-primary);
  border: 1px solid var(--border);
  border-radius: 6px;
  overflow: hidden;
  transition: border-color 0.15s;
  flex: 1;
}

.search-bar:focus-within {
  border-color: var(--text-muted);
}


.search-bar input {
  background: none;
  border: none;
  outline: none;
  padding: 10px 10px;
  font-size: 18px;
  color: var(--text-primary);
  width: 100%;
  transition: width 0.2s;
}

.search-bar input::placeholder {
  color: var(--text-muted);
}

.search-bar button {
  background: none;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 18px;
  color: var(--text-primary);
  transition: color 0.15s;
}

.search-bar button:hover {
  color: var(--text-primary);
}

/* ===== DROPDOWN ESCRITORIO ===== */
.dropdown {
  position: relative;
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 14px;
  color: var(--text-primary);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: var(--bg-primary);
  transition: background 0.15s, color 0.15s;
}

.dropdown-trigger:hover {
  background-color: var(--bg-hover);
  color: var(--text-primary);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  background-color: var(--bg-primary);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 4px;
  min-width: 180px;
  z-index: 200;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 18px;
  color: var(--text-primary);
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.15s, color 0.15s;
}

.dropdown-menu a:hover,
.dropdown-menu a.active {
  background-color: var(--bg-hover);
  color: var(--text-primary);
}

/* Animación del chevron */
.chevron {
  transition: transform 0.2s;
}

.chevron.rotated {
  transform: rotate(180deg);
}

/* ===== BOTONES DE AUTH ===== */
.auth-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-btn-ghost {
  padding: 7px 16px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  background: none;
  color: var(--text-primary);
  border: 1px solid var(--border);
  cursor: pointer;
  transition: background 0.15s;
}

.nav-btn-ghost:hover {
  background-color: var(--bg-hover);
}



.full-width {
  width: 100%;
  text-align: center;
}

/* ===== AVATAR ===== */
.user-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s;
}

.user-avatar:hover {
  opacity: 0.6;
}

/* ===== USER DROPDOWN ===== */
.user-menu {
  position: relative;
}

.user-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 4px;
  min-width: 200px;
  z-index: 200;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.user-info {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 2px;
}

.user-name {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-primary);
}

.user-email {
  font-size: 16px;
  color: var(--text-muted);
}

.user-dropdown a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  font-size: 14px;
  color: var(--text-primary);
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.15s, color 0.15s;
}

.user-dropdown a:hover {
  background-color: var(--bg-hover);
  color: var(--text-primary);
}

.user-dropdown-divider {
  height: 1px;
  background-color: var(--border);
  margin: 4px 0;
}
.user-options a {
  font-size: 18px;
}

/* ===== LOGOUT ===== */
.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  font-size: 18px;
  color: #d81b1b;
  background: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.15s;
  text-align: left;
}

.logout-btn:hover {
  background-color: #ff7575;
}

/* ===== Cart Button ===== */

.cart-option {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cart-btn {
  background-color: transparent;
  color: var(--text-primary);
  font-size: 36px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s;
}

.cart-mobile {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* ===== optionsMobile ===== */
.bottom-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 1.5rem;
  height: auto;
  border-bottom: 1px solid var(--border);
  gap: 16px;
  background-color: var(--bg-nav);
}
.search-bottom-mobile {
  flex-direction: row;
  width: 100%;
}

.bottom-btns {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: start;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 540px) {
  /* .nav-links, */
  /* .nav-btn {
    display: none;
  } */
}
/* Ocultar search en móvil dentro del navbar */
@media (max-width: 540px) {
  .navbar .search-bar {
    display: none;
  }
}
@media (min-width: 541px) {
  .bottom-options .search-bottom-mobile {
    display: none;
  }
  .cart-mobile {
    display: none !important; 
  }
}

@media (max-width: 541px) {
  /* .auth-buttons {
    display: none;
  }
  .user-menu {
    display: none;
  } */

  /* .cart-option {
    display: none;
  } */
}